@import "../../variables";

.home-view {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &--alert {
    width: 100%;
  }

  &--articles {
    padding: 1rem;
    overflow: auto;

    @include media(sm) {
      padding: 2rem;
    }

    &-list {
      margin-bottom: 1rem !important;
    }

    &-pager {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
