@import "./variables";

#news-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .news-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &--body {
      overflow: auto;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  @include media(sm) {
    flex-direction: row;
    height: 100%;
  }
}
