@import './variables';

#news-main {
  display: flex;
  flex-direction: column;

  .news-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &--body {
      overflow: auto;
    }
  }

  @include media(sm) {
    flex-direction: row;
    height: 100%;
  }
}