@import './variables';
@import 'hover.css/scss/hover.scss';

html, body, .App, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Myriad, Helvetica Neue, Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $gray-800;
  overflow: hidden;
}

body {
  font-family: 'Myriad', 'Helvetica Neue', 'Lucida Grande';
  font-size: $font-size-base !important;
  color: $gray-100 !important;
}

a {
  text-decoration: none;
  color: $gray-100;

  @include active-element {
    text-decoration: none !important  ;
  }
}

.caps {
  text-transform: uppercase;
}

*.has-error {
  border-bottom: 1.5px solid $danger !important;
  color: $danger !important;

  &::placeholder {
    color: $danger !important;
  }
}

.error-text {
  color: $danger;
  margin-bottom: 0.25rem;
}

button {
  &:disabled {
    background-color: rgba(100, 100, 100, 0.3) !important;
    border-color: transparent !important;
  }
}

*:focus, *:active {
  outline: none !important;
  box-shadow: none !important;
}

::placeholder {
  color: $white;
}

input {
  &:-internal-autofill-selected {
    background-color: $white !important;
  }

  &:-webkit-autofill {
    background-color: $white !important;

    @include active-element {
      background-color: $white !important;
    }
  }
}

input:-internal-autofill-selected {
  background-color: $white !important;
}
